.pseudoelement {
  font-size: 16px;
  width: 300px;
}
.pseudoelement:before {
  content: "Hola Mundo!";
}
.ie-8 .pseudoelement:before {
  content: 'Good Bye';
}
body {
  background: #008080;
  font-size: 0.9em;
}
body .primerhijo {
  font-size: 14px;
  margin-bottom: 24px;
}
body > .primerhijo {
  padding: 2px;
}
.btn {
  border-radius: 5px;
}
.btn--alert {
  background: #f00;
}
.section {
  width: 800px;
  margin: 0 auto;
}
.article {
  width: 800px;
  margin: 0 auto;
}
.hero {
  min-width: 90%;
  padding: 4em 0;
}
.landing {
  min-width: 1024px;
  padding: 2em 0;
}
.div {
  margin: 10px 15px;
  color: #fff;
  background: #000;
}
.article {
  padding: 10px 15px;
  color: #000;
  background: #fff;
}
.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
[class^="grid--item"] {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.grid--item-1 {
  width: 100%;
}
.grid--item-2 {
  width: 50%;
}
.grid--item-3 {
  width: 33.333333333333336%;
}
.grid--item-4 {
  width: 25%;
}
.grid--item-5 {
  width: 20%;
}
.grid--item-6 {
  width: 16.666666666666668%;
}
.grid--item-7 {
  width: 14.285714285714286%;
}
.grid--item-8 {
  width: 12.5%;
}
.grid--item-9 {
  width: 11.11111111111111%;
}
.grid--item-10 {
  width: 10%;
}
.grid--item-11 {
  width: 9.090909090909092%;
}
.grid--item-12 {
  width: 8.333333333333334%;
}
