@import "_variables.styl"

.pseudoelement
	font-size: font-size-normal
	width: 300px
	&:before
		content "Hola Mundo!"
	.ie-8 &
		&:before
			content: 'Good Bye'

body
	background teal
	font-size: .9em	
	.primerhijo
		font-size: font-size-small
		margin-bottom: 24px
	> .primerhijo
		padding: font-size-normal - font-size-small
		
.btn
	border-radius: 5px
	&--alert
		background: red