@import "_variables.styl"

max-width-landing = 1024px

mixin-max-width()
	width: 800px
	margin: 0 auto;
	
mixin-min-width(width)
	min-width: width
	padding: 4em 0
	
mixin-min-width-landing(width = max-width-landing)
	min-width: width
	padding: 2em 0


.pseudoelement
	font-size: font-size-normal
	width: 300px
	&:before
		content "Hola Mundo!"
	.ie-8 &
		&:before
			content: 'Good Bye'

body
	background teal
	font-size: .9em	
	.primerhijo
		font-size: font-size-small
		margin-bottom: 24px
	> .primerhijo
		padding: font-size-normal - font-size-small
		
.btn
	border-radius: 5px
	&--alert
		background: red
		

.section
	mixin-max-width()

.article
	mixin-max-width()
	
.hero
	mixin-min-width(90%)
	
.landing
	mixin-min-width-landing()
	

// Condicionales
box(x, y, margin-only = true)
	if margin-only
		margin: x y
	else
		padding: x y
		
tono(dark = true)
	if dark
		color: #fff
		background: #000
	else
		color: #000
		background: #fff
		

.div
	box(10px, 15px)
	tono()
	
.article
	box(10px, 15px, false)
	tono(false)